// Button Variations
.btn-big{
	font-size: 15px;
	padding: 13px 40px;
}
.btn-normal{
	font-size: $font-size-micro;
	padding: 11px 35px;
}
.btn-transparent{
	background:transparent;
	color: $white !important;
}

// Button Color Variations
.btn-black{
	background: $main;
	color: $white !important;
	&:hover{
		background: darken($main, 5%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
.btn-outline-white{
	text-transform: uppercase;
	background: transparent;
	color: $main !important;
	border: 1px solid $white;
	&:hover{
		border: 1px solid darken($white, 10%) !important;
		color: darken($main, 10%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
.btn-white{
	background: $white;
	color: $main !important;
	&:hover{
		background: darken($white, 5%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
.btn-main{
	background: $main;
	color: $white !important;
	padding: .5rem;
	font-weight: 700;
	height: 45px;
	// border-radius: 0;
	&:hover{
		background: darken($main, 15%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
.btn-orange{
	background: $orange;
	color: $white !important;
	padding: .5rem;
	font-weight: 700;
	height: 45px;
	// border-radius: 0;
	&:hover{
		background: darken($orange, 5%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
.btn-outline-main{
	text-transform: uppercase;
	background: transparent;
	color: $main !important;
	border: 1px solid $main;
	&:hover{
		color: $white !important;
		background-color: $main;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}