// color Styling
$main				: #56ab2f;
$background-main	: #131929;
$black				: #000000;
$grey-heading		: #232323;
$grey				: #a8a8a8;
$light-grey			: #d5d5d5;
$tosca				: #2abb9b;
$red-brick			: #d64541;
$white				: #ffffff;
$orange				: #f78800;