$border-light:           1px solid #ffffff20;
$border-normal:          1px solid $grey;
$border-dark:            1px solid $grey-heading;

$shadow-lighter:         0 1px 15px 1px rgba(165, 165, 165, .15);
$shadow-normal:         0 10px 35px 10px rgba(165, 165, 165, .15);
$shadow-darker:          0 2px 3px 1px rgba($black, .3);