html, body{
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

a{
	color: inherit;
	&:hover, &:focus{
		text-decoration: none;
	}
}

input, textarea{
	box-shadow: none !important;
	&:focus{
		box-shadow: none !important;
	}
}
p{
	margin-bottom: 0;
}

.section-title{
	font-family: proxima-nova, sans-serif;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: 2px;
	color: #ffffff;
}
.section-title-small{
	font-family: proxima-nova, sans-serif;
	letter-spacing: 1px;
	color: #5e6a9c;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400 !important
}
.section-title-desc{
    color: #5e6a9c;
    font-weight: 400;
    line-height: normal;
    font-size: 22px;
    letter-spacing: 1px;
}
.b-bottom{
	border-bottom: $border-light;
}
.b-top{
	border-top: $border-light;
}