// Typeface
$font-family            : proxima-nova, sans-serif;
$font-size-tiny         : 10px;
$font-size-micro        : 12px;
$font-size-small        : 14px;
$font-size-normal       : 16px;
$font-size-medium       : 20px;
$font-size-large        : 24px;
$font-size-grande       : 36px;
$font-size-venti        : 48px;

// Font Weight
$font-weight-light      : 300;
$font-weight-regular    : 400;
$font-weight-medium     : 500;
$font-weight-semiBold   : 600;
$font-weight-bold       : 700;

// misc
body, ul, ol, dl{
    font-family: $font-family;
    font-weight: $font-weight-regular;
    color: $grey;
}

// heading elements
h1, h2, h3, h4, h5, h6{
    font-family: $font-family;
    font-weight: $font-weight-bold;
    color: $grey-heading;
}
h1{
    margin-bottom: 10px;
    font-size: $font-size-venti;
    line-height: $font-size-venti + 20;
    font-weight: $font-weight-bold;
}
h2{
    margin-bottom: 10px;
    font-size: $font-size-grande;
    line-height: $font-size-grande + 14;
}
h3{
    margin-bottom: 12px;
    font-size: $font-size-large;
    line-height: $font-size-large + 12;
    font-weight: $font-weight-semiBold;
}
h4{
    margin-bottom: 12px;
    font-size: $font-size-medium;
    line-height: $font-size-medium + 10;
}
h5{
    margin-bottom: 15px;
    font-size: $font-size-normal;
    line-height: $font-size-normal + 8;
}
h6{
    margin-bottom: 15px;
    font-size: $font-size-small;
    line-height: $font-size-small + 8;
}

// block-level texts element
blockquote{
    padding: 15px 20px;
    font-family: $font-family;
    color: $grey;
}
p{
    font-weight: $font-weight-light;
    font-family: $font-family;
    color: $grey;
    margin-bottom: 10px;
    line-height: 1.8;
}