body{
	font-family: 'Open Sans', sans-serif;
}
.text-main{
	color: #27ae00 !important;
}
.border-main{
	border-color: #27ae00 !important;
}
.border-red{
	border-color: #e62c1e !important;
}
.qirim-main{
	background: rgb(234,249,240);
	// background: linear-gradient(0deg, rgba(234,249,240,1) 0%, rgba(255,255,255,.2) 100%);
	height: 100%;
}
.qirim-navbar-main{
	background-color: #fff;
	-webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.45);
	box-shadow: 0 0 35px 0 rgba(154,161,171,.45);
	padding: .25rem 1rem;
	a.navbar-brand{
		img{
			height: 40px;
		}
	}
	.navbar-toggler{
		span{
			color: #00b200;
			font-size: 1.5rem;
			padding-top: .4rem;
		}
	}
	.navbar-collapse{
		ul.navbar-nav{
			li.nav-item{
				a.nav-link{
					color: #555;
					padding: .75rem 1.5rem;
					font-weight: 600;
					letter-spacing: 1px;
				}
			}
		}		
	}
}
.qirim-search{
	background: rgb(234,249,240);
	// background: linear-gradient(0deg, rgba(234,249,240,1) 0%, rgba(255,255,255,.2) 100%);
	padding: 5rem 0 2rem;
	.banner-mobile{
		display: none;
	}
	.qirim-search--wrapper{
		background: #fff;
		// padding: 3rem 0 0;
		border-radius: 10px;
		-webkit-box-shadow: 0 5px 15px 0 rgba(154, 161, 171, 0.35);
		box-shadow: 0 5px 15px 0 rgba(154, 161, 171, 0.35);
	}
	.qirim-tab{
		position: relative;
		background: #27ae00;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-bottom: 0 !important;
		padding: 1rem;
		.qirim-logo{
			position: absolute;
			left: 1rem;
			display: block;
			bottom: .8rem;
			text-align: center;
			img{
				height: 40px;
				display: inline-block;
				vertical-align: middle;
			}
			.qirim-logo--text{
				display: inline-block;
				vertical-align: middle;
				padding-left: .5rem;
				color: #fff;
				p{
					text-align: left;
					font-weight: 400;
					color: #fff;
					font-family: 'Lato', sans-serif;
					line-height: normal;
					strong{
						color: #fff;
					}
					&.logo-text--title{
						font-size: 1.2rem;
						margin-bottom: .3rem;
					}
					&.logo-text--subtitle{
						font-size: .8rem;
					}
				}
			}
		}
		.nav-item{
			.nav-link{
				&.active{
					color: #fff;
					font-weight: 800;
					background-color: #7acb70;
					border-color: #fff;
					&:hover{
						background-color: #27ae009e;
					}
				}
				background-color: #d5f1de6b;
				padding: .35rem 3rem;
				border-radius: 25px;
				color: #27ae00;
				font-size: .9rem;
				border: 1px solid #27ae00;
				min-width: 175px;
				text-align: center;
				&:hover{
					background-color: #d5f1defa;
				}
			}
		}
	}
	.qirim-tab--mobile{
		display: none;
	}
	.qirim-content{
		.qirim-content-tab{
			padding-left: .8rem;
			padding-right: .8rem;
			.qirim-content--form{
				// background-color: #fff;
				// -webkit-box-shadow: 0 5px 15px 0 rgba(154, 161, 171, 0.35);
				// box-shadow: 0 5px 15px 0 rgba(154, 161, 171, 0.35);
				padding: 1rem;
				.qirim-content--form-group{
					margin-top: .5rem;
					padding-left: 10px;
					padding-right: 10px;
					label{
						font-size: 1.1rem;
						color: #4d4d4d;
					}
					.btn-orange{
						margin-top: 1.96rem;
						font-weight: 500;
						span{
							margin-right: 5px;
						}
					}
					.ship_from_alert{
						background: none;
						color: #e62c1e;
						border: none;
						padding: 0 15px;
						font-size: .8rem;
						i{
							float: right;
							padding-right: 10px;
							font-size: 1rem;
							vertical-align: middle;
						}
					}
					.qirim-content--form-control{
						// border-radius: 0;
						height: 45px;
						border-width: 2px;
						// -webkit-appearance: none;
						&:focus{
							border-color: #27ae00 !important;
						}
					}
					.input-group{
						.qirim-content--form-control{
							border-right: 0;
							&:focus{
								border-color: #27ae00 !important;
								.input-group-append{
									span.input-group-text{
										border-color: #27ae00 !important;
									}
								}
							}
						}
						&:focus-within{
							.input-group-append{
								span.input-group-text{
									border-color: #27ae00 !important;
								}
							}
						}
						.input-group-append{
							margin-left: 0;
							span.input-group-text{
								// border-radius: 0;
								border-width: 2px;
								font-size: .8rem;
								border-left: 0;
							}
						}
					}
				}
			}
		}
	}
}

.qirim-banner{
	background: linear-gradient(180deg, rgba(234,249,240,1) 0%, rgba(255,255,255,.2) 100%);
	.qirim-banner--wrapper{
		// background: #fff;
		padding: 1.5rem;
		border-radius: 5px;
		img{
			width: 100%;
		}
	}
}
.autocomplete-suggestions {
	font-family: 'Lato', sans-serif;
	border: 1px solid #999; 
	background: #FFF; 
	overflow: auto;
	font-weight: 500;
	font-size: 1.1rem;
	color: #555;
	strong{
		font-weight: 500; 
		color: #27ae00;
	}
}
.autocomplete-suggestion {
	padding: 10px 15px; 
	white-space: nowrap; 
	overflow: hidden;
}
.autocomplete-selected {
	background: #F0F0F0;
}
.autocomplete-group {
	padding: 2px 5px;
	background-color: #eaf8f0;
	strong {
		display: block; 
		border-bottom: 1px solid #000;
	}
}
.qirim-about{
	text-align: center;

	img{
	}
}

.qirim-result{
	opacity: 0;
	display: none;
	-webkit-transition: opacity 5s ease-in-out;
	-moz-transition: opacity 5s ease-in-out;
	transition: opacity 5s ease-in-out;
	&.loading{
		transition: background-color 0.5s ease;
		background-color: #0000000f;
	}
	&.show{
		opacity: 1;
		display: block;
	}
	.ongkir-results-header{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: #555;
		.ongkir-results-header--wrapper{
			.header-origin{
				width: 43%;

			}
			.header-arrow{
				width: 4%;
				padding-top: .5rem !important;
				i{
					font-size: 2rem;
				}
			}
			.header-dest{
				width: 43%;
			}
		}
		h2{
			margin-bottom: 0;
			font-family: 'Lato', sans-serif;
			color: #555;
			font-size: 1rem;
			font-weight: 500;
			letter-spacing: 2px;
		}
		p{
			font-size: 2rem;
			color: #00b200;
			font-weight: 500;
			letter-spacing: 1px;
			color: #555;
			span.header-weight{
				color: #555;
				font-weight: 500;
			}
		}
	}
	.ongkir-result-wrapper{
		padding: 1rem 3rem;
		.ongkir-result{
			.ongkir-result--row{
				border-bottom: 1px solid #dddddd;
				padding: .5rem 0;
				&:last-child{
					border-bottom: 0;
				}
				&:first-child{

				}
				&.title-row{
					.ongkir-result--row-img{
						padding-top: 0;
					}
				}
				h3{
					font-size: 1.3rem;
					font-weight: 500;
					color: #27ae00;
					margin-bottom: 0;
					line-height: normal;
				}
				.ongkir-result--row-img{
					text-align: center;
					padding-top: .5rem;
					img{
						height: 75px;
						padding: .2rem;
					}
				}
				.ongkir-result--row-list{
					height: auto;
					.row-list--wrapper{
						padding: .5rem 0;
						.row-list--service{
							width: 50%;
							h4{
								margin-bottom: 0;
								font-weight: 500;
								vertical-align: middle;
								font-size: 1.2rem;
								color: #555;
							}
						}
						.row-list--price{
							width: 30%;
							color: #0157ff;
							font-size: 1.3rem;
							text-align: right;
							line-height: normal;
							sup{

							}
							p{
								font-size: .8rem;
								color: #555;
								text-align: right;
								line-height: normal;
							}
						}
					}
				}
				.ongkir-result--row-copy{
					text-align: center;
				}
			}
		}
	}
	.ongkir-result-table{
		thead{
			tr{
				th{
					font-weight: 600;
					color: #555;
					letter-spacing: 2px;
					font-size: 1rem;
				}
			}
		}
		tbody{
			tr{
				td{
					vertical-align: middle;
					font-size: 1.05rem;
					color: #555;
					padding: .5rem;
					&.result-table--img{
						img{
							max-height: 60px;
							object-fit: contain;
						}
					}
					&.result-table--service{
					}
					&.result-table--price{
						color: #27ae00;
						font-weight: 600;
						sup{
							font-weight: 500;
						}
					}
					&.result-table--day{
						text-transform: lowercase;
					}
					&.result-table--copy{

					}
				}
			}
		}
	}
	// css for resi page
	.resi-results-header{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: #555;
		h2{
			margin-bottom: 0;
			font-family: 'Lato', sans-serif;
			font-size: 1rem;
			color: #555;
			font-weight: 500;
			letter-spacing: 2px;
		}
		.resi-results-header--nav{
			.nav--dest{
				vertical-align: middle;
				width: 6%;
				&:first-child{
					width: 47%;
					text-align: right;
				}
				&:last-child{
					width: 47%;
					text-align: left;
				}
				i{
					font-size: 2rem;
				}
				p{
					color: #555;
					&.nav--dest-name{
						color: #555;
						font-weight: 600;
						letter-spacing: 1px;
					}
					&.nav--dest-city{
						letter-spacing: 0px;
						font-weight: 400;
						font-size: .9rem;
						line-height: normal;
						color: #555;
					}
				}
			}
		}
		.resi-results-header--status{
			margin-top: 1rem;
			.status--content{
				background-color: #fff;
				text-align: left;
				padding: .5rem 0 !important;
				&:first-child{
					border-top-left-radius: 5px;
				}
				&:last-child{
					border-top-right-radius: 5px;
				}
				p{
					&.status--content-label{
						color: #888;
						font-size: .8rem;
						letter-spacing: 1px;
						line-height: normal;
						margin-bottom: 5px;
						height: 32px;
						border-bottom: 1px solid #ddd;
						padding: 0 .75rem;
					}
					&.status--content-text{
						color: #333;
						font-size: .9rem;
						padding: .4rem .75rem;
						line-height: normal;
						&.text-name{
							padding: .4rem .75rem 0;
						}
					}
				}
				label{
					&.badge{
						padding: .4rem;
						margin-top: .2rem;
						&.badge-outline-warning{
							background-color: transparent;
							border: 1px solid #f78800;
							color: #f78800;
							font-weight: 400;
						}
						&.badge-outline-success{
							background-color: transparent;
							border: 1px solid #27ae00;
							color: #27ae00;
							font-weight: 400;
						}
					}
				}
				img{
					height: 35px;
				}
			}
		}
	}
	// css for resi timeline
	.resi-results-content{
		.resi-timeline{
			li.timeline-item{
				position: relative;
				z-index: 999;
				&:first-child{
					margin-bottom: 1rem;
					&::after{
						top: 25px;
					}
					.timeline-item--badge{
						i{
							color: #27ae00;
						}
					}
					.timeline-item--panel{
						background: #efefef;
						padding: 1rem;
						.timeline-item--panel-body{
							margin-bottom: 0;
							p{
								font-weight: 600;
							}
						}
					}
				}
				&:last-child{
					height: 0;
				}
				&::after{
					width: 3px;
					height: 100%;
					content: '';
					border: 3px solid #eaeaea;
					position: absolute;
					left: 7px;
					z-index: -1;
				}
				.timeline-item--badge{
					display: inline-block;
					vertical-align: -webkit-baseline-middle;
					width: 40px;
					i{
						font-size: 1.5rem;
					}
				}
				.timeline-item--panel{
					display: inline-block;
					vertical-align: top;
					.timeline-item--panel-heading{
						.panel-heading--date{
							color: #888;
							font-weight: 500;
						}
						.panel-heading--time{
							color: #888;
							font-weight: 500;
							line-height: normal;
							margin-bottom: .2rem;
						}
					}
					.timeline-item--panel-body{
						margin-bottom: 1rem;
						p{
							color: #555;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){ 
	.qirim-hero{
		background-color: #f5f8fb;
		text-align: center;
		img{
			width: 150px;
		}
		.qirim-hero--title{
			font-size: 2rem;
			line-height: normal;
			margin-bottom: 1.5rem;
			strong{
				letter-spacing: -1px;
				color: #27ae00;
			}
		}
		p{
			font-size: 1rem;
		}
	}
	.qirim-search{
		padding: 0 0 1rem;
		.banner-mobile{
			display: block;
			padding: .5rem 1rem;
			background: #fff;
			margin-bottom: 1rem;
		}
		.qirim-tab{
			height: 65px;
			margin-top: 0 !important;
			.qirim-logo{
				position: absolute;
				left: 0;
				right: 0;
				top: .5rem;
				display: block;
				text-align: center;
			}
			.nav-item{
				display: none;
				&:first-child{
					margin-bottom: 15px;
				}
			}
		}
		.qirim-tab--mobile{
			display: flex;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 99999;
			background: #fff;
			-webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.45);
			box-shadow: 0 0 35px 0 rgba(154,161,171,.45);
			.nav-item{
				width: 50%;
				padding: .3rem 0;
				text-align: center;
				&:first-child{
					.nav-link{
						border-right: 1px solid #eaeaea;
					}
				}
				.nav-link{
					padding: 0;
					font-size: .8rem;
					&.active{
						background-color: #fff;
						color: #00b200;
					}
					i{
						padding: .2rem;
						display: block;
						font-size: 1.3rem;
						line-height: normal
					}
				}
			}
		}
		.qirim-content{
			.qirim-content-tab{
				.qirim-content--form{
					padding: 1rem;
					.qirim-content--form-group{
						&.qirim-form-weight{
							order: -1;
						}
						margin-top: 0;
						.btn-orange{
							margin-top: .5rem;
						}
					}
				}
			}
		}
	}
	.qirim-banner{
		margin-bottom: 5rem;
		z-index: 99;
		.qirim-banner--wrapper{
			padding: 0;
		}
	}
	.qirim-result{
		opacity: 0;
		display: none;
		-webkit-transition: opacity 5s ease-in-out;
		-moz-transition: opacity 5s ease-in-out;
		transition: opacity 5s ease-in-out;
		&.loading{
			transition: background-color 0.5s ease;
			background-color: #0000000f;
		}
		&.show{
			opacity: 1;
			display: block;
		}
		.ongkir-results-header{
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			color: #555;
			.ongkir-results-header--wrapper{
				.header-origin{
					width: 43%;

				}
				.header-arrow{
					width: 4%;
					padding-top: .5rem !important;
					i{
						font-size: 1.5rem;
					}
				}
				.header-dest{
					width: 43%;
				}
			}
			h2{
				margin-bottom: 0;
				font-family: 'Lato', sans-serif;
				color: #555;
				font-size: 1rem;
				font-weight: 500;
				letter-spacing: 2px;
			}
			p{
				line-height: normal;
				font-size: 1rem;
				span.header-weight{
					color: #555;
					font-weight: 500;
				}
			}
		}
		.ongkir-result-wrapper{
			padding: 1rem 2rem;
			.ongkir-result{
				.ongkir-result--row{
					align-items: flex-start !important;
					&.title-row{
						display: flex;
						align-items: center !important;
						.ongkir-result--row-img{
							width: 25%;
						}
						.ongkir-result--row-list{
							width: 50%;
							.row-list--wrapper{
								flex-direction: row;
								.row-list--service{
									width: 50%;
								}
								.row-list--price{
									width: 50%;
								}
							}
						}
						.ongkir-result--row-copy{
							width: 25%;
						}
					}
					h3{
						font-size: 1rem;
						font-weight: 500;
						color: #27ae00;
						margin-bottom: 0;
						line-height: normal;
					}
					.ongkir-result--row-img{
						text-align: center;
						width: 25%;
						padding-left: 0;
						padding-right: 0;
						img{
							height: 40px;
							padding: .3rem .2rem 0;
						}
					}
					.ongkir-result--row-list{
						width: 50%;
						padding-right: 0;
						.row-list--wrapper{
							flex-direction: row;
							.row-list--service{
								width: 50%;
								h4{
									font-size: .8rem;
									line-height: normal;
								}
							}
							.row-list--price{
								width: 50%;
								font-size: 1rem;
								sup{
									font-size: .4rem !important;
								}
							}
						}
					}
					.ongkir-result--row-copy{
						width: 25%;
						padding-right: 0;
						padding-top: .5rem;
						.btn-outline-main{
							font-size: .8rem;
						}
					}
				}
			}
		}
	}
	// css for resi
	.resi-results-header{
		color: #555;
		h2{
			margin-bottom: 0;
			font-family: 'Lato', sans-serif;
			font-size: 1rem;
			color: #555;
			font-weight: 500;
			letter-spacing: 2px;
		}
		.resi-results-header--nav{
			.nav--dest{
				vertical-align: middle;
				width: 6%;
				&:first-child{
					width: 47%;
					text-align: right;
				}
				&:last-child{
					width: 47%;
					text-align: left;
				}
				i{
					font-size: 2rem;
				}
				p{
					color: #555;
					&.nav--dest-name{
						color: #555;
						font-weight: 600;
						letter-spacing: 1px;
					}
					&.nav--dest-city{
						letter-spacing: 0px;
						font-weight: 400;
						font-size: .9rem;
						line-height: normal;
						color: #555;
					}
				}
			}
		}
		.resi-results-header--status{
			margin-top: 1rem;
			flex-wrap: wrap;
			.status--content{
				background-color: #fff;
				text-align: left;
				width: 50%;
				padding: .5rem 0 !important;
				&:first-child{
				}
				&:last-child{
					margin-left: 50%;
				}
				img{
					padding-left: .8rem;
				}
				p{
					&.status--content-label{
						height: auto !important;
						padding: 0 .8rem .5rem !important;
					}
					&.status--content-text{
						padding: .2rem .8rem !important;
						overflow-wrap: break-word;
					}
				}
				label{
					&.badge{
						margin-left: .8rem;
					}
				}
				img{
					height: 35px;
				}
			}
		}
	}
	// css for resi timeline
	.resi-results-content{
		padding: 2rem 1rem 3rem;
		.resi-timeline{
			li.timeline-item{
				position: relative;
				z-index: 999;
				&:first-child{
					margin-bottom: 1rem;
					&::after{
						top: 25px;
					}
					.timeline-item--badge{
						i{
							color: #27ae00;
						}
					}
					.timeline-item--panel{
						background: #efefef;
						padding: 1rem;
						.timeline-item--panel-body{
							margin-bottom: 0;
							p{
								font-weight: 600;
							}
						}
					}
				}
				&:last-child{
					height: 0;
				}
				&::after{
					top: 0;
				}
				.timeline-item--badge{
					display: table-cell !important;
					vertical-align: -webkit-baseline-middle;
					width: 40px;
					i{
						font-size: 1.5rem;
					}
				}
				.timeline-item--panel{
					display: table-cell !important;
					vertical-align: top;
					.timeline-item--panel-heading{
						.panel-heading--date{
							color: #888;
							font-weight: 500;
						}
						.panel-heading--time{
							color: #888;
							font-weight: 500;
							line-height: normal;
							margin-bottom: .2rem;
						}
					}
					.timeline-item--panel-body{
						margin-bottom: 1rem;
						p{
							color: #555;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) and (orientation: landscape){ 
	.qirim-hero{
		background-color: #f5f8fb;
		text-align: center;
		img{
			width: 150px;
		}
		.qirim-hero--title{
			font-size: 2rem;
			line-height: normal;
			margin-bottom: 1.5rem;
			strong{
				letter-spacing: -1px;
				color: #27ae00;
			}
		}
		p{
			font-size: 1rem;
		}
	}
	.qirim-search{
		padding: 0 0 1rem;
		.banner-mobile{
			display: block;
			padding: .5rem 1rem;
			background: #fff;
			margin-bottom: 1rem;
			img{
				height: 55px;
				object-fit: contain;
			}
		}
		.qirim-tab{
			height: 65px;
			margin-top: 0 !important;
			.qirim-logo{
				position: absolute;
				left: 0;
				right: 0;
				top: .5rem;
				display: block;
				text-align: center;
			}
			.nav-item{
				display: none;
				&:first-child{
					margin-bottom: 15px;
				}
			}
		}
		.qirim-tab--mobile{
			display: flex;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 99999;
			background: #fff;
			-webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.45);
			box-shadow: 0 0 35px 0 rgba(154,161,171,.45);
			.nav-item{
				width: 50%;
				padding: .3rem 0;
				text-align: center;
				&:first-child{
					.nav-link{
						border-right: 1px solid #eaeaea;
					}
				}
				.nav-link{
					padding: 0;
					font-size: .8rem;
					&.active{
						background-color: #fff;
						color: #00b200;
					}
					i{
						padding: .2rem;
						display: block;
						font-size: 1.3rem;
						line-height: normal
					}
				}
			}
		}
		.qirim-content{
			.qirim-content-tab{
				.qirim-content--form{
					padding: 1rem;
					.qirim-content--form-group{
						&.qirim-form-weight{
							order: -1;
						}
						margin-top: 0;
						.btn-orange{
							margin-top: .5rem;
						}
					}
				}
			}
		}
	}
	.qirim-result{
		.ongkir-results-header{
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			color: #555;
			.ongkir-results-header--wrapper{
				.header-origin{
					width: 43%;

				}
				.header-arrow{
					width: 4%;
					padding-top: 0 !important;
					i{
						font-size: 1.5rem;
					}
				}
				.header-dest{
					width: 43%;
				}
			}
			h2{
				margin-bottom: 0;
				font-family: 'Lato', sans-serif;
				color: #555;
				font-size: 1rem;
				font-weight: 500;
				letter-spacing: 2px;
			}
			p{
				line-height: normal;
				font-size: 1rem;
				span.header-weight{
					color: #555;
					font-weight: 500;
				}
			}
		}
		.ongkir-result-wrapper{
			padding: 1rem 2rem;
			.ongkir-result{
				.ongkir-result--row{
					flex-wrap: nowrap;
					align-items: flex-start !important;
					&.title-row{
						display: flex;
						align-items: center !important;
						.ongkir-result--row-img{
						}
						.ongkir-result--row-list{
							.row-list--wrapper{
								flex-direction: row;
								.row-list--service{
									width: 50%;
								}
								.row-list--price{
									width: 50%;
								}
							}
						}
						.ongkir-result--row-copy{
						}
					}
					h3{
						font-size: 1rem;
						font-weight: 500;
						color: #27ae00;
						margin-bottom: 0;
						line-height: normal;
					}
					.ongkir-result--row-img{
						text-align: center;
						padding-left: 0;
						padding-right: 0;
						img{
							height: 45px;
							padding: .3rem .2rem 0;
						}
					}
					.ongkir-result--row-list{
						width: 100%;
						padding-right: 0;
						.row-list--wrapper{
							flex-direction: row;
							.row-list--service{
								width: 50%;
								h4{
									font-size: .8rem;
									line-height: normal;
								}
							}
							.row-list--price{
								width: 50%;
								font-size: 1rem;
								sup{
									font-size: .4rem !important;
								}
							}
						}
					}
					.ongkir-result--row-copy{
						padding-right: 0;
						padding-top: .5rem;
						.btn-outline-main{
							font-size: .8rem;
						}
					}
				}
			}
		}
	}
	.qirim-banner{
		margin-bottom: 5rem;
		.qirim-banner--wrapper{
			padding: 0;
		}
	}
	// css for resi
	.resi-results-header{
		color: #555;
		h2{
			margin-bottom: 0;
			font-family: 'Lato', sans-serif;
			font-size: 1rem;
			color: #555;
			font-weight: 500;
			letter-spacing: 2px;
		}
		.resi-results-header--nav{
			.nav--dest{
				vertical-align: middle;
				width: 6%;
				&:first-child{
					width: 47%;
					text-align: right;
				}
				&:last-child{
					width: 47%;
					text-align: left;
				}
				i{
					font-size: 2rem;
				}
				p{
					color: #555;
					&.nav--dest-name{
						color: #555;
						font-weight: 600;
						letter-spacing: 1px;
					}
					&.nav--dest-city{
						letter-spacing: 0px;
						font-weight: 400;
						font-size: .9rem;
						line-height: normal;
						color: #555;
					}
				}
			}
		}
		.resi-results-header--status{
			margin-top: 1rem;
			flex-wrap: wrap;
			.status--content{
				background-color: #fff;
				text-align: left;
				width: 50%;
				padding: .5rem 0 !important;
				&:first-child{
					border-top-left-radius: 5px;
				}
				&:last-child{
					border-top-right-radius: 5px;
				}
				img{
					padding-left: .8rem;
				}
				p{
					&.status--content-label{
						height: auto !important;
						padding: 0 .8rem .5rem !important;
					}
					&.status--content-text{
						padding: .2rem .8rem !important;
						overflow-wrap: break-word;
					}
				}
				label{
					&.badge{
						margin-left: .8rem;
					}
				}
				img{
					height: 35px;
				}
			}
		}
	}
	// css for resi timeline
	.resi-results-content{
		padding: 2rem 1rem 3rem;
		.resi-timeline{
			li.timeline-item{
				position: relative;
				z-index: 999;
				&:first-child{
					margin-bottom: 1rem;
					&::after{
						top: 25px;
					}
					.timeline-item--badge{
						i{
							color: #27ae00;
						}
					}
					.timeline-item--panel{
						background: #efefef;
						padding: 1rem;
						.timeline-item--panel-body{
							margin-bottom: 0;
							p{
								font-weight: 600;
							}
						}
					}
				}
				&:last-child{
					height: 0;
				}
				&::after{
					top: 0;
				}
				.timeline-item--badge{
					display: table-cell !important;
					vertical-align: -webkit-baseline-middle;
					width: 40px;
					i{
						font-size: 1.5rem;
					}
				}
				.timeline-item--panel{
					display: table-cell !important;
					vertical-align: top;
					.timeline-item--panel-heading{
						.panel-heading--date{
							color: #888;
							font-weight: 500;
						}
						.panel-heading--time{
							color: #888;
							font-weight: 500;
							line-height: normal;
							margin-bottom: .2rem;
						}
					}
					.timeline-item--panel-body{
						margin-bottom: 1rem;
						p{
							color: #555;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (orientation: landscape) {

}
